/*
cores:
cinza escuro #818181 claro #c3c3c3
branco #fdffff
Azul escuro #010081 claro #1084D0
teal #008080
pink #ff0081
black #000

*/



*{
    margin:0;
    padding:0;
}
body{
    background-color: #008080;
}


.navbar{
    background-color: #008080;
    
}
.nav1{
    margin-top:1em ;
    display: flex;
    justify-content: space-evenly;
}

.icolink{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #fdffff;
    font-family: "Pixelify Sans", sans-serif;
    border: 1px solid transparent;

}

.icopic{
    height: 3em;
}

a.icolink:hover{
    border: 1px dotted #fdffff;
}

.barrainfo{
    height: 2em;
    background-color: #c3c3c3;
    border-top: 2px inset #818181;
    border-bottom: 2px inset #818181;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.clock{
    border: 1px inset #000;
    height: 1em;/* temporario */
    width: 3%;/* remover */
    margin-right:1em;
    background-color: #fdffff ;
}

.titlebar{
    background-image: linear-gradient(to right,#010081, #1084d0);
    color: #fdffff;
    height: 1.5em;
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    border-bottom: 2.5px inset #c3c3c3;
    border-left: 2.5px inset #c3c3c3;
    border-right: 2.5px inset #c3c3c3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.winframe{
    background-color: #818181;
    display: flex;
    padding: 2.5%;
    border-bottom: 2.5px inset #c3c3c3;
    border-left: 2.5px inset #c3c3c3;
    border-right: 2.5px inset #c3c3c3;
}

.abtme{
    font-family: "DM Sans", sans-serif;
    background-color: #fdffff;
    padding-left: 5em;
    padding-right: 1%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "txtg1""imgg1";
}

#artam1{
    padding-left: 5em;
    grid-area: txtg1;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-content: center;
    flex-wrap: wrap;
}

#amp1{
    text-align: justify;
    padding: 2em;
}

#picmim{
    grid-area: imgg1;

}

#lista1{
    text-align: justify;
}
#lista1_1{
    list-style: none;
}
#lista1_2{
    list-style: none;
}

.closewin{
    text-decoration: none;
    color: #000;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 600;
    background-color: #818181;
    border: 3px outset #c3c3c3;
    justify-self: flex-end;
    position: absolute;
    left: 98%;
}

.closewin:hover{
    background-color: #c3c3c3;
    border: 3px outset #c3c3c3;
}

.closewin:active{
    background-color: rgb(143, 17, 17);
    border: 3px inset #4d0909;
}