/*
cores:
cinza escuro #818181
cinza claro #c3c3c3c3
branco #fdffff
Azul #010081
teal #008080
pink #ff0081
black #000

*/



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #008080;
}


.navbar{
    background-color: #008080;
    
}
.nav1{
    margin-top:1em ;
    display: flex;
    justify-content: space-evenly;
}

.icolink{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #fdffff;
    font-family: "Pixelify Sans", sans-serif;
    border: 1px solid transparent;


}

.icopic{
    height: 3em;
}

a.icolink:hover{
    border: 1px dotted #fdffff;
}

.barrainfo{
    height: 2em;
    background-color: #c3c3c3;
    border-top: 2px inset #818181;
    border-bottom: 2px inset #818181;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.clock{
    border: 1px inset #000;
    height: 1em;/* temporario */
    width: 3%;/* remover */
    margin-right:1em;
    background-color: #fdffff ;
}

main{
    display: flex;
    flex-direction: column;
    height: 75vh;
}
void{
    flex: 1;
}
.footer{
    display: flex;
    align-content: flex-end;
}
